{
  "parser": "@babel/eslint-parser",
  "rules": {
    "no-console": 0,
    "no-restricted-syntax": 0,
    "eol-last": 0,
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "max-len": 0,
    "comma-dangle": 0,
    "global-require": 0
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  }
}
